.review-one-div {
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: relative;
}
.review-one-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(60%);
}
.review-two-div {
  padding: 0 70px 70px 70px;
  background-color: null;
  font-size: 1.4rem;
}
.review-two-header {
  font-size: 2.4rem;
}
.text-area {
  width: 600px;
  height: 40vh;
  font-size: 1.5rem;
}
.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 80px;
  height: 40px;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #e892ad;
  color: #e892ad;
  font-weight: bold;
}
.submit-btn:hover {
  background-color: #e892ad;
  border: 1px solid #e892ad;
  color: white;
}
.shop-cat-select {
  width: 300px;
  font-size: 1.1rem;
  height: 40px;
}
.rate-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;
}
.rate-select {
  width: 55px;
  height: 35px;
  font-size: 1.1rem;
}
.review-input {
  width: 300px;
  height: 5vh;
  margin-left: 20px;
  font-size: 1rem;
  outline: 0;
  border-width: 0 0 2px;
}
.shop-cat-dd-container {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
/*
select {
  border: 0px;
  outline: 0px;
  
}*/
@media (max-width: 45em) {
  .review-two-header {
    font-size: 2rem;
  }
  .text-area {
    width: 310px;
    height: 240px;
    font-size: 1.2rem;
  }
  .review-two-div {
    padding: 20px;
    background-color: null;
    font-size: 1.4rem;
  }
  .shop-cat-dd-container {
    flex-direction: column;
    background-color: null;
    align-items: flex-start;
  }
}
