.overlay-header {
  font-size: 2.4rem;
  color: white;
}
.overlay-sub-header {
  color: white;
  font-size: 2rem;
  margin-top: -10px;
}
.rating-container {
  margin: 30px;
  background-color: null;
  border-top: 1px solid grey;
  padding-left: 40px;
  padding-right: 40px;
  
}
.rating-container-1 {
  display: flex;
  font-weight: bold;
  font-size: 1.2rem;
  justify-content: space-between;
}
.rating-container-2 {
  margin-top: -25px;
  font-size: 1.2rem;
}
.user-img {
  width: 140px;
  height: 140px;
}
@media (max-width: 45em) {
  .overlay-header {
    font-size: 1.8rem;
  }
  .overlay-sub-header {
    font-size: 1.6rem;
  }
  .rating-container {
    padding: 0px;
    margin: 10px;
  }
  .user-img {
    width: 95px;
    height: 95px;
  }
  .rating-container-1 {
    font-size: 0.8rem;
  }
  .rating-container-2 {
    font-size: 0.8rem;
  }
}
