.rating-container {
  margin: 30px;
  background-color: null;
  border-top: 1px solid grey;
  padding-left: 40px;
  padding-right: 40px;
 
}
.user-img {
  width: 140px;
  height: 140px;
}
@media (max-width: 45em) {
  .rating-container {
    padding: 0px;
  }
  .user-img {
    width: 100px;
    height: 100px;
  }
}
