.nav-bar-container-home {
  width: 100%;
  background-color: transparent;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 10000;
  position: absolute;
  color: white;
}
.zyla-home {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  font-family: Vogue;
  margin-left: 2rem;
}
.nav-bar-container-other {
  background-color: transparent;
  height: 70px;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  color: white;
}

.zyla-other {
  font-size: 2rem;
  color: black;
  font-weight: bold;
  font-family: Vogue;
}
@media (max-width: 50em) {
  .nav-bar-container-home {
    justify-content: center;
  }
  .zyla-home {
    margin-left:0;
  }
}
